<section>
    <header>
        <oui-back-button
            data-title="{{:: 'telephony_delete_group_title' | translate }}"
            data-on-click="DeleteGroupCtrl.back()">
        </oui-back-button>
    </header>

    <div class="text-center" data-ng-if="DeleteGroupCtrl.loading">
        <oui-spinner size="l"></oui-spinner>
    </div>

    <form class="telecom-section-content"
          data-ng-if="DeleteGroupCtrl.loaded"
          data-ng-submit="DeleteGroupCtrl.terminate()">

        <toast-message></toast-message>

        <oui-message type="warning">
            <span data-translate="telephony_delete_group_warning"></span>
        </oui-message>

        <p data-translate="telephony_delete_group_infos"></p>

        <div class="text-danger mt-5"
             data-ng-if="DeleteGroupCtrl.task">
            <p>
                <span data-translate="telephony_delete_group_pending"
                      data-translate-values="{ group: DeleteGroupCtrl.group.description || DeleteGroupCtrl.group.billingAccount }"></span>
                <span>{{:: DeleteGroupCtrl.task.executionDate | date:'dd/MM/yyyy' }}</span>
            </p>
            <oui-button
                data-variant="primary"
                data-text="{{:: 'telephony_delete_group_cancel' | translate}}"
                data-disabled="DeleteGroupCtrl.cancelling"
                data-on-click="DeleteGroupCtrl.cancelTermination()">
            </oui-button>
        </div>

        <oui-form-actions
            data-ng-if="!DeleteGroupCtrl.task"
            data-submit-text="{{:: 'telephony_delete_group_delete' | translate}}"
            data-disabled="DeleteGroupCtrl.deleting"
            data-on-cancel="DeleteGroupCtrl.back()"
            data-cancel-text="{{:: 'cancel' | translate}}">
        </oui-form-actions>

    </form>
    <!-- /.telecom-section-content -->

</section>
