<section>
    <header>
        <oui-back-button
            data-title="{{:: 'telephony_add_group_title' | translate }}"
            data-on-click="AddGroupCtrl.back()">
        </oui-back-button>
    </header>

    <div class="text-center" data-ng-if="AddGroupCtrl.loading || AddGroupCtrl.ordering">
        <oui-spinner size="l"></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!AddGroupCtrl.loading && !AddGroupCtrl.ordering">

        <toast-message></toast-message>

        <oui-message type="info" data-ng-if="!AddGroupCtrl.order">
            <span data-translate="telephony_add_group_infos"></span>
        </oui-message>

        <div data-ng-if="!AddGroupCtrl.order">
            <p data-translate="telephony_add_group_contracts"></p>
            <div data-contracts="AddGroupCtrl.contracts"
                 data-full-text="true"
                 data-contracts-validated="AddGroupCtrl.contractsAccepted">
            </div>

            <button type="button"
                    class="btn btn-primary"
                    data-ng-disabled="!AddGroupCtrl.contractsAccepted || AddGroupCtrl.ordering"
                    data-ng-click="AddGroupCtrl.orderGroup()">
                    <span data-translate="telephony_add_group_order"></span>
                <span>({{ AddGroupCtrl.getDisplayedPrice() }})</span>
            </button>
        </div>

        <div data-ng-if="AddGroupCtrl.order">
            <p>
                <i class="ovh-font ovh-font-success text-success h3 mb-0 mr-2"></i>
                <span data-translate="telephony_add_group_success"></span>
            </p>
            <p>
                <span data-translate="telephony_add_group_success_bc"></span>
                <a target="_blank"
                   rel="noopener"
                   data-ng-href="{{ AddGroupCtrl.order.url }}">
                    <span data-translate="telephony_add_group_success_bc2"></span>
                    <i class="fa fa-external-link"></i>
                </a>
                .
            </p>
        </div>

    </div>
    <!-- /.telecom-section-content -->

</section>
