<div class="telephony-group-alias-special">

    <div class="text-center" data-ng-if="AliasSpecialCtrl.isLoading">
        <oui-spinner></oui-spinner>
    </div>

    <div class="widget-presentation"
         data-ng-if="!AliasSpecialCtrl.isLoading">
        <div class="alert alert-info"
             role="alert"
             data-ng-if="AliasSpecialCtrl.notSupported"
             data-translate="telephony_alias_special_unsupported">
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="service-item">
                    <a class="service-button"
                       data-ui-sref="telecom.telephony.alias.special.transfer">
                        <span data-translate="telephony_alias_special_transfer"></span>
                        <span class="service-button-icon service-button-right-icon ovh-font ovh-font-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="service-item">
                    <a class="service-button"
                       data-ui-sref="telecom.telephony.alias.special.fees">
                        <span data-translate="telephony_alias_special_fees"></span>
                        <span class="service-button-icon service-button-right-icon ovh-font ovh-font-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="service-item">
                    <a class="service-button"
                       data-ui-sref="telecom.telephony.alias.special.rsva">
                        <span data-translate="telephony_alias_special_rsva"></span>
                        <span class="service-button-icon service-button-right-icon ovh-font ovh-font-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.widget-presentation -->

</div>
<!-- /.telephony-group-alias-special -->
